useDynLib(gamstackr, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

importFrom("graphics", "legend", "lines")
importFrom("stats", "predict")
importFrom("stats", "dnorm")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
export(.internals)
export(DensStack)
export(LossStack)
export(MVN_weights)
export(create_expert)
export(create_stacker)
export(create_windower)
export(create_windows)
export(evaluate_all)
export(evaluate_expert)
export(evaluate_stack)
export(id)
export(multinomial)
export(nested)
export(ordinal)
export(penReg)
export(plot_windows)
