useDynLib(gamstackr, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, predict, dnorm)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importFrom(mgcv, gam)

export(create_expert, evaluate_expert, create_windower, create_windows,
       create_stacker, evaluate_stack,
       ordinal, multinomial, nested, MVN_weights,
       DensStack, LossStack,
       bind_output, bind_list, plot_windows)
